*{
    margin: 0%;
    padding: 0%;
    font-family: "Poppins", sans-serif;
    
}

header{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}
nav{
    width: 60%;
    backdrop-filter: blur(20px);
    border-radius: 30px;
}
header nav ul{
    list-style: none;
    text-align: center;
}
header nav li{
    display: inline-flex;
}
header nav a{
    text-decoration: none;
    padding: 20px;
    width: 150px;
    color: rgb(219, 209, 209);
}
header nav a:hover{
    font-size: 600;
    color: #020202;
}

/*Estilo para la portada*/
.portada{
    height: 650px;
    background-image: url(imagenes/San-blas.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portada h1{
    color: rgb(255, 255, 255);
    font-size: 90px;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.452);

}
.portada  p{
    color: rgb(255, 255, 255);
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.452);
}
.portada a{
    color: rgb(255, 255, 255);
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-decoration: none;
    border-radius: 30px;
    backdrop-filter: blur(80px);
    padding: 10px 20px;
    width: 90px;

}
.seccion-1{
    background-color: rgb(255, 255, 255);
    margin: -40px 20px 20px 20px;
    padding: 30px;
    border-radius: 30px;
    height:200px ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.seccion-1 h2{
    margin: 60px;
    font-weight: 300;
    font-style: normal;
}
.seccion-1 p{
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
}
/*Estilo para las imagenes*/
.seccion-2{
    padding: 30px;
    display: flex;
    justify-content: center;
}
.seccion-2 img{
    padding: 10px;
    border-radius: 25px;
    width: auto;
    height: 300px;
}

/*Estilo para la lista y videos*/
.seccion-3{
    margin: 30px;
    padding: 40px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  
       
}
.lista, .video{
    width: 50%;
}
.lista{ 
    width: 100%;
}
.lista h2{
    font-size: 40px;
    padding-bottom: 20px;
}
.lista ul{
    list-style: none;
}

.lista li{
    width: 60%;
    padding: 20px;
    font-size: 18px;
    margin: 10px;
    background-color: rgba(196, 196, 196, 0.295);
    border-radius: 20px;
}
.video iframe{
    width: 100%;
    height: 355px;
    border-radius: 30px;
}
.video {
    width: 100%;
    height: 355px;
    border-radius: 30px;
}
/*Estilo para la tabla de precios*/
.seccion-4{
    margin: 90px 30px 30px 30px;
    padding: 80px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.seccion-4 h2{
    font-size: 40px;
    padding-bottom: 20px;
}

.seccion-4 table tr td{
    padding-bottom: 30px;
    padding-right: 20px;
    font-size: 18px;
    text-decoration: overline;
    text-align: center;
    
}
.seccion-4 table tr{
    padding-bottom: 30px;
    padding-right: 10px;
    font-size: 18px;
}
/*Estilo para la seccion del formulario y texto*/
.seccion-5{
    height: 650px;
    margin-top: 90px;
    padding: 30px;
    background-image: url(imagenes/imagen6.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor{
    border: 2px solid rgb(255, 255, 255, 0.2);
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    padding: 30px 40px;
    color: #fff;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgb(0,0,0, 0.2);
}
.contenedor h2{
    text-align: center;
    margin-bottom: 35px;
    font-size: 35px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

form a{
    text-decoration: none;
    color: #fff;
}

.input-caja{
    border: 2px solid rgb(255, 255, 255, 0.2);
    border-radius: 40px;
    height: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
}
.input-caja input{
    flex: 1;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    min-width: 0;
}

.input-caja input::placeholder{
    color: #fff;
}

.input-caja2{
    display: flex;
    justify-content: space-between;
}
.input-dentro{
    border: 2px solid rgb(255, 255, 255, 0.2);
    border-radius: 40px;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    width: 49%;
    box-sizing: border-box;
}
.input-dentro input{
    flex: 1;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 16px;
    color: #fff;
    min-width: 0;
}
.input-dentro input::placeholder{
    color: #fff;
}

.btn{
    border: 0;
    width: 70%;
    outline: 0;
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
    cursor:  pointer;
    background-color: rgba(255, 255, 255, 0.11);
    color: #fff;
}
.text{
    color: #fff;
    padding: 30px;
}
.text h2{
    font-size: 40px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.452);
}
.text p{
    font-size: 22px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.452);
}
/*Estilo para el pie de pagina*/
footer{
    padding: 15px;
    background-color: rgb(67, 129, 126);
    text-align: center;
    font-size: 300;
    color: #fff;
}